.woocommerce-Address .address-book {
    width: 100%;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-content .addresses {
    margin-bottom: 50px;
}

.topdress-hscroll {
    /* overflow-x: auto; */
    /* Horizontal */
}

#delete-address-book,
#set-address-book {
    cursor: pointer;
}

.topdress-head-table.left {
    float: left;
}

.topdress-head-table.right {
    float: right;
}