.woocommerce-Address .address-book {
    width: 100%;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-content .addresses {
    margin-bottom: 50px;
}

.topdress-hscroll {
    /* overflow-x: auto; */
    /* Horizontal */
}

#delete-address-book,
#set-address-book {
    cursor: pointer;
}

.topdress-head-table.left,
.topdress-toolbar {
    float: left;
}

.topdress-head-table.right {
    float: right;
}

a.topdress-addressbook-button {
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    background-color: red;
    color: white;
}

a.topdress-addressbook-button:hover,
a.topdress-addressbook-button:active {
    color: white;
}

a.btn.small.black>img {
    width: 14px;
    height: 14px;
}

#topdress_addressbook_table>tbody>tr>td {
    vertical-align: center !important;
}